<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header> <!--will be replaced with the info from "header" from fragments-->

<p th:unless="${events} and ${events.size()}">No events!</p> <!--if there is not an events list, or no events in the list, display No events!-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event}"></td>
    </tr>
</table>

</body>
</html>